.success {
    background-color: green !important;
    color: white !important;
}

.warning {
    background-color: orange !important;
    color: white !important;
}

.danger {
    background-color: red !important;
    color: white !important;
}